<div class="main-container">
    <div class="title-container">
        <h1>Todo List</h1>
    </div>

    <div class="form-container">
        <form [formGroup]="todoForm" #formDirective="ngForm" (submit)="addTodo(formDirective)">
            <mat-form-field>
                <mat-label>Insert a new todo</mat-label>
                <input matInput formControlName="todo" />
            </mat-form-field>  
            <button mat-raised-button color="primary" type="submit">Insert</button>         
        </form>
        @if (!todoForm.valid && todoForm.get('todo')?.touched) {
            <span>O campo não pode estar vazio</span>
        }
    </div>

    <div class="todo-list-container">
        @for (item of todoList; track $index) {
            <div class="todo-item-container">
                <span>{{ item.id }}</span>
                <span>{{ item.description }}</span>
                <span><mat-icon (click)="done(item)">done</mat-icon></span>
            </div>
        }
    </div>
</div>
