
.main-container {
    display: flex;
    flex-direction: column;
    padding: 24px 80px;
    gap: 32px;
    width: 80%;
    min-width: 500px;
    margin: 64px auto;
    background-color: rgb(39, 20, 39);
    color: #dfdfdf;
    border-radius: 24px;
}

.title-container {
    margin-top: 32px;
    h1 {
        text-align: center;
        font-size: 60px;
        font-weight: bolder;
        text-decoration: underline;
    }
}

.form-container {
    margin-top: 32px;
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;

        mat-form-field {
            flex: 4;
        }

        button {
            flex: 1;
            height: 56px;
        }
    }

    span {
        color: rgb(255, 187, 198);
    }
}

.todo-list-container {
    margin-bottom: 32px;

    .todo-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        padding: 24px;
        border-bottom: solid 1px #afafaf;
        font-size: 18px;
        font-weight: 500;
    
        span:nth-child(2) {
            flex: 1;
        }

        span:nth-child(3) {
            transform: scale(1.5);
            cursor: pointer;
            color: rgb(81, 226, 81);
            
        }
    }
}

